---
import Container from "../components/Container.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Noticias" description="Noticias description">
  <Container>
    <h1>Noticias</h1>
  </Container>
</MainLayout>
