---
import Container from "../components/Container.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Previas" description="previas description">
    <Container>
        <h1>Previas</h1>
    </Container>
</MainLayout>
