---

---

<footer class="flex justify-center items-center shadow-lg border min-h-[56px]">
    <small>
        Copyrigth &copy; <span id='copyright'></span> | All rights reserved
    </small>
</footer>

<script>
    document.querySelector("#copyright").textContent = new Date().getFullYear().toString()
</script>