---
import MainLayout from "../../layouts/MainLayout.astro";
import Container from "../../components/Container.astro";
---

<MainLayout title="Premier" description="premier description">
  <main class="flex-1">
    <Container>
      
    </Container>
  </main>
</MainLayout>
